@using LostPets.Web.Infrastructure.HtmlHelpers
@model LostPets.Web.ViewModels.Profile.ProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
}
<div class="container">
    <div class="card-panel">
        <h3 class="center">Edit Profile</h3>
        @using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="row">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @value = "@Model.UserName" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="row">
                @Html.LabelFor(m => m.FirstName)
            </div>
            <div class="row">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @value = "@Model.FirstName" })
            </div>
            <div>
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>

            <div class="row">
                <input type="file" name="UploadedImage" />
            </div>
            <div class="text-center">
                <input type="submit" value="Update Profile" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

