@using LostPets.Web.Infrastructure.HtmlHelpers
@model LostPets.Web.ViewModels.Profile.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}
<div class="container">
    <div class="card-panel">
        <h3 class="center">Profile</h3>

        <div class="row">
            <div class="col-md-4">
                @if (@Model.ProfilePictureId != null)
                {
                    <img src="@Url.Action("Image", "Profile", new { id = Model.ProfilePictureId.Value })" alt="@Model.UserName" class="img-responsive" width="100" />
                }
            </div>
        </div>
        <div class="row">
            <ul>
                <li class="collection-item">
                    <div class="row">
                        <div>
                            Name
                        </div>
                        <div>@Model.UserName</div>
                    </div>
                </li>
                <li class="collection-item">
                    <div class="row">
                        <div>
                            FirstName
                        </div>
                        <div>@Model.FirstName</div>
                    </div>
                </li>
            </ul>
            <div>
                @Html.ActionLink("Edit Profile", "EditProfile", "Profile", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>


