@using LostPets.Web.ViewModels.Comments
@using LostPets.Web.ViewModels.Posts

@model PostViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container">
    @Html.Partial("_PostDetailsPartial")
</div>

<br />
@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("../Comments/_PostCommentPartial", new PostCommentViewModel(Model.Id))
}

@if (Model.Comments.Any())
{
    <div id="comments">
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("../Comments/_CommentPartial", comment)
        }
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
}