@using LostPets.Data.Models.Types
@model LostPets.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card-panel z-depth-4">
                <h4 class="center">Register</h4>
                @Html.ValidationSummary("", new { style = "color: red" })
                <div class="row">
                    <div class="input-field col s6">  
                        @Html.LabelFor(m => m.UserName)                   
                        @Html.TextBoxFor(m => m.UserName)                      
                    </div>
                    <div class="input-field col s6">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)                      
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName)
                    </div>
                    <div class="input-field col s6">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.TextBoxFor(m => m.PhoneNumber)
                    </div>
                    <div>
                        @Html.LabelFor(m => m.FacebookProfile)
                        @Html.TextBoxFor(m => m.FacebookProfile)
                    </div>
                    <div class="input-field col s6">
                        @Html.DropDownListFor(m => m.Gender, EnumHelper.GetSelectList(typeof(Gender)), new { @class = "form-control" })
                    </div>
                    <div class="input-field col s6">
                        @Html.DropDownListFor(m => m.City, EnumHelper.GetSelectList(typeof(City)), new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <div class="input-field col s16">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)                       
                    </div>
                </div>
                <div class="center col-s6">
                    <input type="submit" class="btn pink" value="Register" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}